<h2>My Books</h2>
<div class="row" *ngFor="let book of bookService.books | keyvalue">
  <span class="glyphicon glyphicon-remove" (click)="deleteBook(book.key)"></span>
  <div class="col-sm-4">{{ book.key }}</div>
  <div class="col-sm-4">{{ book.value.name }}</div>
</div>
