<form (ngSubmit)="addBook()">

  <label for="isbn">ISBN</label>
  <input type="text" name="isbn" [(ngModel)]="book.isbn">
  <br>

  <label for="title">ISBN</label>
  <input type="text" name="title" [(ngModel)]="book.title">
  <br>

  <label for="description">ISBN</label>
  <input type="text" name="description" [(ngModel)]="book.description">
  <br>

  <label for="author">ISBN</label>
  <input type="text" name="author" [(ngModel)]="book.author">
  <br>

  <button>Add</button>
</form>