<div class="container">
  <h1>Simple Reactive Form</h1>

  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" [formControl]="title" />
    </div>
  </form>

  <p><span class="value">
      The Value: </span>{{ title.value }}</p>
</div>

