<div class="add-book">
<h3>Add a new book</h3>
<form (ngSubmit)="onSubmit()" >

  <div class="form-group">
    <label for="name">ISBN</label>
    <input type="text" class="form-control" id="isbn"
      required
      [(ngModel)]="book.isbn" name="isbn">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name"
      required
      [(ngModel)]="book.name" name="name">
  </div>

  <button class="btn btn-primary" type="submit">Add Book</button>
</form>
</div>
