<h3>Book Details</h3>

<div *ngIf="book" class="book-details">
  <div class="detail-isbn detail-row">
    <div class="detail-key">ISBN</div>
    <div class="detail-value">{{ book.isbn }}</div>
  </div>
  <div class="detail-title detail-row">
    <div class="detail-key">Title</div>
    <div class="detail-value">{{ book.title }}</div>
  </div>
  <div class="detail-title detail-row">
    <div class="detail-key">Description</div>
    <div class="detail-value">{{ book.description }}</div>
  </div>
  <div class="detail-title detail-row">
    <div class="detail-key">Authors</div>
    <div class="detail-value">{{ book.authors }}</div>
  </div>
</div>