<h2>Update Book {{ book?.id }}</h2>

<form clrForm (submit)="updateBook()" *ngIf="book">
    <clr-input-container>
        <label>Title</label>
        <input clrInput type="text" [(ngModel)]="book.title" name="title" />
    </clr-input-container>
    <clr-input-container>
        <label>Description</label>
        <input clrInput type="text" [(ngModel)]="book.description" name="description" />
    </clr-input-container>
    <clr-input-container>
        <label>Authors</label>
        <input clrInput type="text" [(ngModel)]="book.authors" name="authors" />
    </clr-input-container>
    <button class="btn btn-primary" type="submit" >Update</button>
</form>