<div class="book-detail" *ngIf="book">
  <div class="book-detail-row">
    <div class="book-detail-title">ISBN</div>
    <div class="book-detail-value">{{ book.isbn }}</div>
  </div>
  <div class="book-detail-row">
    <div class="book-detail-title">Title</div>
    <div class="book-detail-value">{{ book.title }}</div>
  </div>
  <div class="book-detail-row">
    <div class="book-detail-title">Description</div>
    <div class="book-detail-value">{{ book.description }}</div>
  </div>
  <div class="book-detail-row">
    <div class="book-detail-title">Authors</div>
    <div class="book-detail-value">{{ book.authors }}</div>
  </div>


</div>

<button mat-raised-button color="primary" class="back-button" (click)="backHome()">
  Back
</button>
