<div class="container">
  <h1>Hero Form</h1>
  <form #heroForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"
        required [(ngModel)]="model.name" name="name"
        #name="ngModel" />
      <br />
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Name required
      </div>

    </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" class="form-control" id="alterEgo"
      [(ngModel)]="model.alterEgo" name="alterEgo">
    </div>

    <div class="form-group">
      <label for="power">Power</label>
      <select class="form-control" id="power"
        required [(ngModel)]="model.power" name="power">
        <option *ngFor="let power of powers" [value]="power">{{power}}</option>
      </select>
    </div>

    <button type="buttor" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>

  </form>
</div>
