<div class="ui-g" *ngFor="let book of books$ | async">
    <div class="ui-g-1">{{ book.isbn }} </div>
    <div class="ui-g-2">{{ book.title }} </div>
    <div class="ui-g-3">{{ book.description }} </div>
    <div class="ui-g-6">
        <button pButton type="button" label="Edit" class="ui-button-rounded"></button>
        <button pButton type="button" label="Delete" class="ui-button-rounded ui-button-danger"></button>
    </div>
</div>