<div *ngIf="selectedBook">
  <h2>{{ selectedBook.name }} </h2>
  <div><span>ISBN: </span> {{ selectedBook.isbn }}</div>
  <div>
    <label> name:
      <input [(ngModel)]="selectedBook.name" placeholder="name" />
    </label>
  </div>
</div>
