<div class="book-id">
  {{ book.isbn }}
</div>
<div class="book-title">
  {{ book.title }}
</div>
<div class="book-isbn">
  <a [routerLink]="['/details', book.isbn]">Details</a>
</div>
<div class="book-delete">
  <a (click)="deleteThisBook()" href=""> Delete </a>
</div>
<div class="book-edit">
  <a [routerLink]="['/update', book.isbn]"> Edit </a>
</div>
