<form (ngSubmit)="updateBook()" *ngIf="book">

  <label for="isbn">ISBN</label>
  <input type="text" name="isbn" [(ngModel)]="book.isbn" disabled>
  <br>

  <label for="title">ISBN</label>
  <input type="text" name="title" [(ngModel)]="book.title">
  <br>

  <label for="description">ISBN</label>
  <input type="text" name="description" [(ngModel)]="book.description">
  <br>

  <label for="authors">ISBN</label>
  <input type="text" name="authors" [(ngModel)]="book.authors">
  <br>

  <button>Update</button>
</form>