<div class="container">
  <h2>FromGroup example</h2>
  <form [formGroup]="bookForm" (submit)="onSubmit()">
    <div class="form-group">
      <label for="isbn">ISBN</label>
      <input class="form-control" type="text" formControlName="isbn" />
    </div>
    
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" formControlName="title" />
    </div>

    <div class="form-group">
      <label for="title">Description</label>
      <input class="form-control" type="text" formControlName="description" />
    </div>

    <button class="btn btn-default" type="submit">Save</button>
  </form>
</div> 
