<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Books App!
  </h1>
</div>

<a [routerLink]="['/']">Home</a> :: 
<a [routerLink]="['/create']">New Book</a>

<router-outlet></router-outlet>
