<h3>Create a new Book</h3>
<form class="book-input-form" (ngSubmit)="onSubmit()" #bookForm="ngForm">
  <label for="isbn" class="isbn">ISBN</label>
  <input type="text"
    required
    [(ngModel)]="book.isbn"
    name="isbn">
  <br />

  <label for="title">Title</label>
  <input type="text"
    required
    [(ngModel)]="book.title"
    name="title">
  <br />

  <label for="descrption">Desciption</label>
  <textarea
    required
    [(ngModel)]="book.description"
    name="descrption" rows="8" cols="80"></textarea>
  <br />

  <label for="authors">Authors</label>
  <input type="text"
    required
    [(ngModel)]="book.authors"
    name="authors" >
  <br />

  <button type="submit" name="save">Save</button>
</form>
