.book-item-isbn {
    flex: 0 0 120px;
}

.book-item-title {
    flex-grow: 1;
}

.book-item-action {
    flex: 0 0 120px;
}

.book-item-action {
  mat-icon {
    padding-right: 10px;
    cursor: pointer;
    color: black;
  }
}
