<mat-list-item>
  <div class="book-item-isbn" (click)="navigateToDetails()">{{ book.isbn }}</div>
  <div class="book-item-title" (click)="navigateToDetails()">{{ book.title }}</div>
  <div class="book-item-action">

    <a [routerLink]="['/update', book.isbn]"><mat-icon>edit</mat-icon></a>
    <mat-icon (click)="deleteThisBook()">delete</mat-icon>
  </div>
</mat-list-item>
