<div class="container">
  <h2>FromGroup example</h2>
  <form [formGroup]="bookForm" >
    <div class="form-group">
      <label for="isbn">ISBN</label>
      <input class="form-control" type="text" formControlName="ISBN" />
    </div>
    
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" formControlName="title" />
    </div>

    <div class="form-group">
      <label for="title">Description</label>
      <input class="form-control" type="text" formControlName="description" />
    </div>

    <div formGroupName="author">
      <h3>Author Details</h3>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input class="form-control" type="text" formControlName="firstName" />
      </div>
      
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input class="form-control" type="text" formControlName="lastName" />
      </div>
  
    </div>

    <button class="btn btn-default" type="button" (click)="onSubmit()">Save</button>
  </form>
</div> 
