<h2>Add new Book</h2>

<form clrForm (submit)="onSubmit()">
    <clr-input-container>
        <label>Title</label>
        <input clrInput type="text" [(ngModel)]="book.title" name="title" />
    </clr-input-container>
    <clr-input-container>
        <label>Description</label>
        <input clrInput type="text" [(ngModel)]="book.description" name="description" />
    </clr-input-container>
    <clr-input-container>
        <label>Authors</label>
        <input clrInput type="text" [(ngModel)]="book.authors" name="authors" />
    </clr-input-container>
    <button class="btn btn-primary" type="submit" >Submit</button>
    <button class="btn" type="button" (click)="resetForm()">Reset</button>
</form>