<div class="clr-col-md-1" (click)="showDetails()">{{ book.id }}</div>
<div class="clr-col-md-4" (click)="showDetails()">{{ book.title }}</div>
<div class="clr-col-md-7">
    <a href="#" (clear)="deleteBook()">
      <clr-icon shape="times" size=16 ></clr-icon>
    </a>
    <a [routerLink]="['/edit', book.id]">
      <clr-icon shape="pencil" size=16></clr-icon>
    </a>
</div>