<header class="header-6">
  <div class="branding">
      Book App
  </div>
  <div class="header-nav">
      <a routerLink="/" class="active nav-link nav-text">Book List</a>
      <a routerLink="/create" class="nav-link nav-text">Add Book</a>
  </div>
  <div class="header-actions">
      <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="cog"></clr-icon>
      </a>
  </div>
</header>

<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
