<mat-list id="book-list">
  <h3 mat-subheader>Books List</h3>
  <mat-list-item class="book-title-row" >
    <div class="book-list-title-isbn">ISBN</div>
    <div class="book-list-title-title">Title</div>
    <div class="book-list-title-actions">Actions</div>
  </mat-list-item>
  <app-book-list-item *ngFor="let book of books" [book]="book" (deleteBook)="deleteBook($event)">
  </app-book-list-item>
</mat-list>
