#book-list {
  max-width: 700px;
}

.book-title-row {
  font-weight: 700;
}

.book-list-title-isbn {
    flex: 0 0 120px;
}

.book-list-title-title {
    flex-grow: 1;
}

.book-list-title-actions {
    flex: 0 0 120px;
}
