app-book-list-item {
  display: flex;
  max-width: 800px;
}

.list-heading {
  display: flex;
  max-width: 800px;
  font-weight: 600;
}

.book-id-heading {
  flex: 0 0 120px;
}

.book-title-heading {
  flex-grow: 1;
}

.book-details-heading {
  flex: 0 0 90px;
}

.book-delete-heading {
  flex: 0 0 90px;
}

.book-delete-heading {
  flex: 0 0 90px;
}
