<h3>List of Books</h3>
<div class="list-heading">
  <div class="book-id-heading">ISBN</div>
  <div class="book-title-heading">Title</div>
  <div class="book-details-heading">Details</div>
  <div class="book-delete-heading">Delete</div>
  <div class="book-edit-heading">Edit</div>
</div>
<div *ngFor="let book of books" class="book-listing">
  <app-book-list-item [book]=book (deleteBook)="deleteBook($event)"></app-book-list-item>
</div>
