<h3 class="book-add-title">Edit Book</h3>
<form class="book-form" (ngSubmit)="onSubmit()" *ngIf="book"> 
  <mat-form-field class="full-width-field">
    <input matInput placeholder="ISBN" 
      required
      [(ngModel)]="book.isbn" name="isbn">
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <input matInput placeholder="Title"
      required
      [(ngModel)]="book.title" name="title">
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <input matInput placeholder="Description"
      required
      [(ngModel)]="book.description" name="description">
  </mat-form-field>

  <mat-form-field class="full-width-field">
    <input matInput placeholder="Authors"
      required
      [(ngModel)]="book.authors" name="authors">
  </mat-form-field>

  <button class="btn btn-primary" type="submit">Save</button>
</form>
